.temperature-selection {
    color: white;
    padding: 0 1rem;
  }
  
  .temperature-selection__control {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .temperature-selection label {
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
  }
  
  .temperature-selection select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }

  @media (min-width: 768px) {
    .temperature-selection__control {
      display: flex;
      flex-direction: row;
    }
  }